<form [formGroup]="forgotForm" (submit)="recover()">
    <mat-form-field class="form-field" appearance="fill">
        <mat-label> E-mail
        </mat-label>
        <input matInput formControlName="email" type="email" required>
        <mat-error *ngIf="forgotForm.controls.email.touched && forgotForm.controls.email.invalid">
            <span *ngIf="forgotForm.controls.email.errors.required">This field is mandatory.</span>
            <span *ngIf="forgotForm.controls.email.errors.email">This field is invalid.</span>
        </mat-error>
        <button mat-button matSuffix mat-icon-button type="submit">
            <mat-icon>send</mat-icon>
        </button>
    </mat-form-field>
</form>