<h1>Travel Story</h1>
<div class="container">
    <div class="left">
        <button mat-raised-button color="accent" *ngIf="login==false" (click)="login=!login">Login</button>
        <app-register class="register" *ngIf="login==false"></app-register>

        <button mat-raised-button color="primary" *ngIf="login==true" (click)="login=!login">Sign Up</button>
        <app-login class="register" *ngIf="login==true"></app-login>
    </div>
    <div class="right">
        <img src="../../assets/landing-page.jpg" alt="">
    </div>
</div>